body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to top, #391456 5%, #431963 15%,  #431963 85%, #391456 95%);
    color: white;
    font-family: Avenir, Futura, Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.logo {
    width: clamp(20px, 67vw, 550px);
    animation: fadeIn 3s ease-in-out;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.header-container {
    display: inline-block;
    font-family: Avenir, Futura, Arial, Helvetica, sans-serif;
    font-size: clamp(5px, 2.5vw, 25px);
}

.typed {
    overflow: hidden;
    white-space: nowrap;
    width: fit-content;
    animation: typing 4.5s steps(75, end) forwards, blinking 1.5s infinite;
    animation-delay: 0s, 4.45s;
    font-weight: 100;
    border-right: 0.1em solid;
}

@keyframes typing {
    from {width: 0;}
    to {width: 100%;}
}

@keyframes blinking {
    0% {border-right-color: transparent}
    50% {border-right-color: white}
    100% {border-right-color: transparent}
  }

.btn-shared {
    padding-top: clamp(0.75vw, 1.5vw, 3px);
    padding-bottom: clamp(0.75vw, 1.5vw, 3px);
    padding-left: clamp(1.25vw, 3vw, 6px);
    padding-right: clamp(1.25vw, 3vw, 6px);
    margin-top: 1vh;
    background-color: white;
    border: none;
    border-radius: 360px;
    color: #431963;
    font-size: clamp(2.5px, 3vw, 25px);
    font-family: Avenir, Futura, Arial, Helvetica, sans-serif;
    font-weight: 550;
    cursor: pointer;
}

.join-btn {
    opacity: 0;
    animation: fadeIn 1s ease-in-out;
    animation-delay: 5.15s;
    animation-fill-mode: both;
}

.btn-shared:hover {
    background-color: #2F1149;
    color: white;
}

.email-input {
    width: clamp(10px, 42vw, 350px);
    padding-top: clamp(0.4vw, 1.4vw, 2.9px);
    padding-bottom: clamp(0.4vw, 1.4vw, 2.9px);
    padding-left: clamp(1vw, 3vw, 6px);
    padding-right: clamp(0.9vw, 2.9vw, 5.9px);
    margin-top: 1em;
    margin-right: 1em;
    border: 1px solid #ddd;
    color: #391456;
    border-radius: 360px;
    font-size: clamp(5px, 2.5vw, 20px);
    font-family: Avenir, Futura, Arial, Helvetica, sans-serif;
}

.email-input::placeholder {
    font-size: 1.05em;
    color: #BFBFBF;
    font-family: Avenir, Futura, Arial, Helvetica, sans-serif;
}

#message {
    font-family: Avenir, Futura, Arial, Helvetica, sans-serif;
    margin-top: 1.15em;
    font-size: clamp(9px, 4vw, 30px);
    font-weight: medium;
    display: none;
}

.tick-img {
    max-width: 30vw;
    max-height: 30vw;
    display: inline-block;
    vertical-align: middle;
}